<h1>All Departments</h1>

<% @departments.each do |department| %>
  <div id="department-<%=department.id%>">
    <h2>Department Name: <%= department.name %></h2>
    <h3>Department Floor: <%= department.floor %></h3>
    <% department.employees.each do |employee| %>
      <p>Employee Name: <%= employee.name %></p>
    <% end %>
  </div>
<% end %>